<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

	<!-- Sidebar - Brand -->
	<li>
		<a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index", "Admin")">
			<div class="sidebar-brand-icon rotate-n-15">
				<i class="fas fa-laugh-wink"></i>
			</div>
			<div class="sidebar-brand-text mx-3">Admin</div>
		</a>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider my-0">

	<!-- Nav Item - Hệ thống -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSystem" aria-expanded="true" aria-controls="collapseSystem">
			<i class="fas fa-fw fa-user"></i>
			<span>Hệ thống</span>
		</a>
		<div id="collapseSystem" class="collapse" aria-labelledby="headingTables" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="@Url.Action("Index", "UserGroup")">Nhóm người dùng</a>
				<a class="collapse-item" href="@Url.Action("Index", "User")">Người dùng</a>
			</div>
		</div>
	</li>

	<!-- Nav Item - Tin tức -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCategory" aria-expanded="true" aria-controls="collapseCategory">
			<i class="fas fa-fw fa-comment"></i>
			<span>Tin tức</span>
		</a>
		<div id="collapseCategory" class="collapse" aria-labelledby="headingTables" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="@Url.Action("Index", "Category")">Danh mục</a>
				<a class="collapse-item" href="@Url.Action("Index", "ContentCategory")">Tin tức</a>
			</div>
		</div>
	</li>

	<!-- Nav Item - Sản phẩm -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProduct" aria-expanded="true" aria-controls="collapseProduct">
			<i class="fas fa-fw fa-bell"></i>
			<span>Sản phẩm</span>
		</a>
		<div id="collapseProduct" class="collapse" aria-labelledby="headingTables" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="@Url.Action("Index", "ProductCategory")">Danh mục</a>
				<a class="collapse-item" href="@Url.Action("Index", "Product")">Sản phẩm</a>
			</div>
		</div>
	</li>

	<!-- Nav Item - Charts -->
	<li class="nav-item">
		<a class="nav-link" href="charts.html">
			<i class="fas fa-fw fa-chart-area"></i>
			<span>Biểu đồ</span>
		</a>
	</li>

	<!-- Nav Item - Pages Collapse Menu -->
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
			<i class="fas fa-fw fa-beer"></i>
			<span>Quản lý chung</span>
		</a>
		<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="@Url.Action("Index", "About")">Giới thiệu</a>
				<a class="collapse-item" href="@Url.Action("Index", "Footer")">Footer</a>
				<a class="collapse-item" href="@Url.Action("Index", "Menu")">Menu</a>
				<a class="collapse-item" href="@Url.Action("Index", "Slide")">Slide</a>
				<a class="collapse-item" href="@Url.Action("Index", "Feedback")">Phản hồi</a>
			</div>
		</div>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block">

	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>

</ul>