@model WebApplication2.Models.PaginationModel<WebApplication2.Models.Category>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">Danh sách danh mục</h6>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<a class="btn btn-primary" href="@Url.Action("Create", "Category")">Tạo mới danh mục</a>
			<p></p>
			<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Created Date</th>
						<th>Order</th>
						<th>Status</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.Items)
					{
						<tr>
							<td>@item.Id</td>
							<td>@item.Name</td>
							<td>@(item.CreateDate.HasValue ? item.CreateDate.Value.ToString("dd/MM/yyyy") : "")</td>
							<td>@item.Order.GetValueOrDefault(0)</td>
							<td>@(item.Status.GetValueOrDefault(false)? "Active":"Blocked")</td>
							<td>
								<a href="/Category/Edit/@item.Id">Sửa</a>
								|
								
							</td>
						</tr>
					}
				</tbody>
			</table>
			<div class="paging_numbers" aria-label="Page navigation">
				<ul class="pagination">
					@if(Model.PageNumber > 1)
					{
						//Trở lại trang trước
						<li class="paginate_button page-item previous">
							@Html.ActionLink("Previous", "Index", new { pageNumber = Model.PageNumber - 1 }, new { @class = "page-link" })
						</li>
					}
					@for( var i = 1; i<=Model.TotalPages; i++)
					{
						//Hiện từng trang
						<li class="pagination page-item @(i == Model.PageNumber ? "active" : "")">
							@Html.ActionLink(i.ToString(), "Index", new { pageNumber = i }, new { @class = "page-link" })
						</li>
					}
					@if (Model.PageNumber < Model.TotalPages)
					{
						//Đến trang sau
						<li class="paginate_button page-item next">
							@Html.ActionLink("Next", "Index", new { pageNumber = Model.PageNumber + 1 }, new { @class = "page-link" })
						</li>
					}
				</ul>
				<div class="pagination_numbers">
					Danh mục từ @(((Model.PageNumber - 1) * 10) + 1) đến 
					@if (Model.PageNumber * 10 > Model.TotalItems)
					{
						@Model.TotalItems
					}
					else
					{
						@(Model.PageNumber * 10)
					}
					trong @Model.TotalItems danh mục
				</div>
			</div>
		</div>
	</div>
</div>
