@model List<WebApplication2.Models.Product>
@{
	ViewData["Title"] = "ProductCategory";
	Layout = "~/Views/Shared/_LayoutHome.cshtml";
	var category = (WebApplication2.Models.ProductCategory)ViewBag.Category;
}
<div class="content">
	<div class="content_top">
		<div class="heading">
			<h3>@category.Name</h3>
		</div>
		<div class="see">
			<p><a href="#">See all Products</a></p>
		</div>
		<div class="clear"></div>
	</div>
	<div class="section group">
		@foreach(var item in Model)
		{
			var link = "/chi-tiet/" + item.MetaTitle + "-" + item.Id;
			<div class="grid_1_of_4 images_1_of_4">
				<a href="@link"><img src="@item.Images" alt="" /></a>
				<h2>@item.Name</h2>
				<div class="price-details">
					<div class="price-number">
						<p><span class="rupees">@item.Price</span></p>
					</div>
					<div class="add-cart">
						<h4><a href="/them-gio-hang?productId=@item.Id&quantity=1">Thêm giỏ hàng</a></h4>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		}
	</div>
	<div class="paging_numbers" aria-label="Page navigation">
		@if (ViewBag.TotalPage > 1)
		{
			var pageDisplay = (int)ViewBag.MaxPage;
			int totalPage = (int)ViewBag.TotalPage;
			int currentPage = (int)ViewBag.Page;

			var startPageIndex = Math.Max(1, currentPage - pageDisplay / 2);
			var endPageIndex = Math.Min(totalPage, currentPage + pageDisplay / 2);

			var link = "/san-pham/" + category.MetaTitle + "-" + category.Id;
			<nav>
				<ul class="pagination">
					@if (currentPage > ViewBag.First)
					{
						<li class="pagination page-item">
							<a class="page-link first" href="@link?page=@ViewBag.First" title="Trang đầu">
								<i class="fa fa-angle-double-left"></i>
							</a>
						</li>
						<li class="page-item">
							<a class="page-link prev" href="@link?page=@ViewBag.Prev" title="Trang trước">
								<i class="fa fa-angle-left"></i>
							</a>
						</li>
					}
					@for (int i = startPageIndex; i <= endPageIndex; i++)
					{
						if (currentPage == i)
						{
							<li class="page-item active"><a class="page-link" href="@link?page=@i" title="Trang @i">@i</a></li>
						}
						else
						{
							<li class="page-item pos"><a class="page-link" href="@link?page=@i" title="Trang @i">@i</a></li>
						}
					}
					@if (currentPage < totalPage)
					{
						<li class="page-item">
							<a class="page-link next" href="@link?page=@ViewBag.Next" title="Trang sau">
								<i class="fa fa-angle-right"></i>
							</a>
						</li>
						<li class="page-item">
							<a class="page-link " href="@link?page=@ViewBag.Last" title="Trang cuối">
								<i class="fa fa-angle-double-right"></i>
							</a>
						</li>
					}
				</ul>
			</nav>
		}
		else
		{
			<span>Không có bản ghi nào</span>
		}
	</div>
</div>
<link href="/Admin/vendor/fontawesome-free/css/all.css" rel="stylesheet" />

